html {
  font-size: 16px;
}

body {
	font-family: 'Abel', sans-serif;
	font-weight: 700;

}

.index{
	background-color: #81d4fa;
}

.graphs{
	background-color: #216353;
}

.tables{
	background-color: #fddb3a;
}
